/converted_document.docx
/convolutional_neural_networks.pdf
/Deep Neural Networks.pdf
/NNDL Course plan 2025-26.pdf
/pdf2word.py
/PS_MCA_2024-26.docx-89-91.pdf
/P3/cifar_data/
/p8/assets/
P9/Share 'testing.csv'
/cia/CIA3/AnimalVision-10
cia/CIA3/Animals Classification
Auto encoder - Colab.pdf
Auto Encoders.pdf
Boltzmann Machine - Colab.pdf
CNN Explainer.pdf
CNN.ipynb - Colab.pdf
converted_document.docx
convolutional_neural_networks (1).pdf
convolutional_neural_networks.pdf
Deep Neural Networks.pdf
Echi State Networks - Colab.pdf
NNDL Course plan 2025-26.pdf
NNDL UNIT 2 - Colab.pdf
P6.zip
pdf2word.py
PS_MCA_2024-26.docx-89-91.pdf
Recurrent Neural Networks.pdf